/*ABOUT ME*/

.images-about, .about-content, .contact {
  display: block;
  margin: 0 auto;
}

.about-content, .contact {
  border: none;
  text-align: left;

  p {
    line-height: 1.7;
  }
 }
.about-content {
  padding: 30px 0 0 30px;
}

.contact {
  padding: 0 90px;
}

a {
    display: block;
    font-size: 20px;
    margin-top: 30px;
    padding: 10px 20px;
    text-align: center;
    border: 2px solid #000;
    box-shadow: 5px 5px 0px 0px #000;
}

a:hover {
  color: #3cf;
  border-color: #3cf;
  box-shadow: 5px 5px 0px 0px #3cf;
}

@media screen and (min-width: $on-laptop) {
  .about-wrapper {
    margin: 0 auto;
    //box-sizing: border-box;
    overflow: hidden;
    @include grid(6);
    background-color: #f1f1f1;
    height: 100%;
    padding: 40px;
    .images-about {
      float: left;
      margin-right:2.5%;
      clear: both;
      @include grid(6);
    }

    .about-content {
      display: block;
      //float: left;
      height: 100%;
      align-items: center;
      //margin-top: 100px;
      //max-height: 394px; 
      //@include grid(6);
    }
    
  }
}
