/*ABOUT ME*/

/*about me picture*/

.images-about {
    background: url('/images/liz.jpg') 0 0 no-repeat;
    background-size: cover;
    display: block;
    margin: 0 auto;
    padding: 50%;
    border-radius: 50%;
}

.images-wrapper {
  margin: 0 auto;
  max-width: 200px;
}
@media screen and (min-width: $on-palm) {

}

@media screen and (min-width: $on-laptop) {
  .images-wrapper {
    display: inline-block;
    float: left;
    margin: 0;
    overflow: hidden;
    width: 300px;

    .images-about {
      float: left;
      margin: 0 30px 0 0;
    }
  }

  .about-content {
    display: inline-block;
    float: right;
    width: 50%;
  }
}