/**
 * Site header
 */
// @import "compass/css3";

.header-wrapper {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.site-header {
    background-color: $green-color;
    width: 100%;
    z-index: 1;


    // Positioning context for the mobile navigation icon
    left: 0;
    position: fixed;
    top: 0;
}

.logo {

    > svg {
        float: left;
        margin: 10px;
        width: 60px;
        height: 60px;
        vertical-align: middle;
    }
}

.site-title {
    color: $background-color;
    float: left;
    font-family: $body-copy;
    font-size: 2em;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: .05em;
    margin-bottom: 0;
    padding: 15px 0 0 10px;
}

.divider {
    color: $background-color;
}

@include media-query($on-laptop) {
    
    .site-header {
        position: relative;
    }
    .logo {

        > svg {
            display: block;
            float: none;
            margin: 10px auto;
            text-align: center;
            width: 60px;
            height: 60px;
            vertical-align: middle; 
        }
    }

    .site-title {
        display: block;
        float: none;
        text-align: center;
    }

    .divider {
        display: none;
    }

    .site-nav {
        float: none;
        text-align: center;
    }
}

.site-nav {
    float: right;
    line-height: 56px;
    padding: 10px 15px 15px 15px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $background-color;
        line-height: $base-line-height;
        padding-bottom: 5px;
        position: relative;

        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: $background-color;
          visibility: hidden;
          -webkit-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;
        }

        &:hover:before {
          visibility: visible;
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
        }
        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-laptop) {
        float: none;
        text-align: center;
        padding: 0;
        // position: absolute;
        // top: 9px;
        // right: 30px;
        // background-color: $green-color;
        // border-radius: 5px;

        // .menu-icon {
        //     display: block;
        //     float: right;
        //     line-height: 0;
        //     // padding-top: 10px;
        //     // padding-bottom: 10px;
        //     text-align: center;

        //     > svg {
        //         width: 44px;
        //         height: 44px;

        //         path {
        //             fill: $background-color;
        //         }
        //     }
        // }

        // .trigger {
        //     clear: both;
        //     display: none;
        // }

        // &:hover .trigger {
        //     display: block;
        //     padding-bottom: 5px;
        // }

        // .page-link {
        //     display: block;
        //     padding: 5px 10px;
        // }
    }

}



/**
 * Site footer
 */
.site-footer {
    padding: 0 0 20px 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
    margin-right: 20px;
    float: left;

    li {
        float: left;
        margin-right: 20px;
        margin-top: 20px;
    }
}


.footer-col-wrapper {
    font-size: 15px;
    color: $text-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}



/**
 * Page content
 */

@media screen and (min-width: $on-laptop){

    .page-heading, .post-title, .home-title {
        padding-top: 130px;
    }
 }

.page-heading {
    font-size: 3rem;
    text-align: center;
    font-family: $body-copy;
    font-weight: 700;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $green-color;
    text-align: center;
}

.post-link {
    display: block;
    color: $text-color;
}



/**
 * Posts
 */
.post-header, .page-heading {
    margin: 40px 0;
}

.post-title, .home-title {
    font-size: 3rem;
    line-height: 1.6;
    font-weight: 700;
    text-align: center;
    color: $text-color;
    font-family: $body-copy;
}

.post-content {
    font-family: $body-copy;
    font-weight: 400;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.post-excerpt p {
    font-family: $body-copy;
}

/*Portfolio page images*/
.popover {
    background: url('/Liz_Schilb_Portfolio/images/popover-logo-bl.svg') 0 50% no-repeat;
    
}
/*Hover states for portfolio page*/
.column6 {
    background-size: contain;
    background-color: #3A3A3C;
    transition: background 3s linear;


    p {
        background-color: rgba(83, 206, 206,.9);
        color: $background-color;
        font-family: $body-copy;
        font-size: 2rem;
        font-weight: 700;
        opacity: 0;
        padding: 20px 0;
        transition: opacity .5s linear;
        width: 100%;
    }
}

.column6:hover {
    background-color: hsl(240, 3%, 27%);
    background-blend-mode: luminosity;


    p {
        opacity: 1;
    }
}





