/*grid mixin*/

$tot-width: 350px;
$total-num-col: 12;
$gut-width: 10%;
$ind-col-width: ($tot-width - (($total-num-col - 1)*$gut-width))/$total-num-col;

@mixin grid($col-num) {
  width: ($ind-col-width*$col-num)+(($col-num)-1)*$gut-width;
  float: left;
  box-sizing: border-box;
  margin-right: $gut-width;
  
  &:last-child {
    margin-right: 0;
  }
}

.row {
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
}


.column6, .project-name {
  height: 350px;
  margin: 0 auto 60px auto;
  width: 350px;
  text-align: center;
  @include grid(12);
}

 @media screen and (min-width: 600px){
  

  .column6, .project-name {
    @include grid(6);
  }
  
}